<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mini.spring.mvc.repository.QnaBoardMapper">


	
	<insert id="insert" parameterType="mini.spring.mvc.bean.QnaBoardDTO">
		insert into qnaboard(num, writer, title, content, reg_date, readcount) values(qnaboard_seq.NEXTVAL,#{list.writer},#{list.title},#{list.content},sysdate,0)
	</insert>
	
	
	
	<select id = "list" resultType="mini.spring.mvc.bean.QnaBoardDTO">
		select * from qnaboard order by num desc
	</select>
	
	<insert id = "fileInsert" parameterType="mini.spring.mvc.bean.QnaBoardFileDTO">
		insert into qnaboard_file values (qnaboard_file_seq.NEXTVAL, #{qnaboardnum},#{filename})
	</insert>
	
	<!-- 게시물 조회 -->
	<select id="view" resultType="mini.spring.mvc.bean.QnaBoardFileDTO">
	 select 
 	 num, title, writer, content, reg_date
 	from qnaboard
 	   
	</select>
	
</mapper>












