<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mini.spring.mvc.repository.QnaBoardMapper">

	<select id="maxNum" resultType="int">
		select NVL(max(num),0) from qnaboard
	</select>
	
	
	<insert id="insert" parameterType="mini.spring.mvc.bean.QnaBoardDTO">
		insert into qnaboard values(qnaboard_seq.NEXTVAL,#{writer},#{title},#{content},sysdate,0,#{ref},#{re_step},#{re_level},#{isfile})
	</insert>
	
	
	
	<select id = "list" resultType="mini.spring.mvc.bean.QnaBoardDTO">
		select * from qnaboard order by num desc
	</select>
</mapper>












